body {
    display: block;
    background-color: #fdfdfd;
    font-family: "plantc", "Source Han Serif", serif;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    height: 90px;

    .header_box {
        padding: 0 10%;
        height: 100%;

        .header_logo {
            float: left;
            margin-top: 10px;

            img {
                height: 60px;
            }
        }

        .announcement {
            height: 60px;
            width: 60%;
            float: left;
            padding: 0 10%;
            line-height: 60px;
            margin-top: 20px;

            a {
                color: black;
                overflow: hidden;
                line-height: 60px;
                text-align: center;
                font-size: 16px

            }
        }

        .header_sponsor {
            float: right;
            width: 65px;
            height: 35px;
            border: 1px solid #dfdfdf;
            border-radius: 10px;
            text-align: center;
            margin-top: 28px;
            line-height: 35px;
            transition: all .2s;
            letter-spacing: -1px;
            cursor: pointer;

            &:hover {
                background: cornflowerblue;
                color: white;
                border: 0;
                letter-spacing: 2px;
                font-weight: bold;
            }
        }
    }
}


// 轮播
.slider_box {
    height: 750px;
    border-radius: 45px;
    width: 80%;

    .cov {
        width: 100%;
        position: absolute;
        height: 100%;
        background: #000000;
        opacity: 40%;
        top: 0
    }

    img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        object-fit: cover
    }

    // .icon {
    //     position: absolute;
    //     top: 0;
    //     padding: 0 35%;
    //     margin: 0 auto;

    //     img {
    //         width: 300px;
    //         height: auto;
    //     }
    // }

    .tx {
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        color: #fff;

        p {
            padding: 0 20%;
            font-size: 30px;
        }

        .p1 {
            font-weight: bold;
            font-size: 30px;
        }

        .p2 {
            font-size: 20px;
            line-height: 30px;
        }

        .go_btn {
            width: 200px;
            height: 60px;
            line-height: 60px;
            margin: 0 auto;
            border: 0;
            background-color: white;
            border-radius: 30px;
            transition: all .2s;
            font-weight: bold;
            letter-spacing: 0;

            &:hover {
                background-color: cornflowerblue;
                border: #0a7ea1;
                color: white;
                letter-spacing: 2px;
            }
        }

    }
}


// 功能区
.functional_box {
    width: 100%;
    height: 600px;
    margin-top: 45px;

    .fun_ei {
        padding: 0 10%;
        height: 100%;

        .fun_box {
            width: 25%;
            height: 280px;
            text-align: center;
            padding: 30px 3%;
            float: left;
            color: #999999;
            letter-spacing: -2px;

            // webkit-transition: all .1s;
            transition: all .2s;

            .img_ro {
                width: 150px;
                height: 150px;
                border-radius: 50px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 500px;
                    object-fit: cover;
                    opacity: 70%;
                }
            }

            .tx_blo {
                font-size: 25px;
                padding: 10px 0
            }

            .tx_ro {
                margin-top: 15px;
                letter-spacing:2px
            }

            &:hover {
                text-decoration: none;
                font-size: 16px;
                background-repeat: no-repeat;
                background-position: center 78px;
                box-shadow: 0 30px 28px -16px rgba(0, 0, 0, 0.26);
                transform: translate(0, -4px);
                letter-spacing: 4px;

                div {
                    color: #000000;
                }

                .tx_blo {
                    font-weight: bold;
                }

                img {
                    opacity: 100%;
                }
            }
        }


    }
}

// 图片专区


















// 底部支持
.foot_box {
    width: 100%;
    float: left;

    p {
        text-align: center;
    }
}

//响应式scss
// @media only screen and (max-width: 1080px){
//     body{
//         width: 100%;
//         height: 100%;
//         position: absolute;
//     }

//     .header_sponsor{
//         display:none ;
//     }
//     .swiper-slide .tx{
//         top:25%
//     }
//     .fun_box{
//         width: 27%;
//         padding: 30px 4%;
//     }
//     .foot_box{
//         position: absolute;
//         width: 100%;
//         float: left;
//         bottom: 20px
//     }
// }


/*Web_Togo_css*/
.Togo_Header{
    text-align: left;
    font-size: 25px;
    //background: #dfdfdf;
    height: 64px;
    position: relative;
    left:3%;
    line-height: 64px;
    .Togo_back{
        cursor: pointer;
        font-size: 14px;
        width: 80px;
        background: #dfdfdf;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        margin: 15px 10px;
        float: left;
        text-align: center;
        vertical-align:middle;
        &:hover{
            opacity: 0.5;
        }
    }
    .Togo_Tlink{
        float: left;
        font-size: 24px;
        margin-left: 20px;
    }
}

.Togo_body{
    ul{
        width: 90%;
        .Togo_li{
            height: 120px;
            list-style: none;
            margin-top: 20px;
            transition: all .2s;
            .Togo_list_img{
                height: 100px;
                width:150px;
                float: left;
                margin: 10px;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100px;
                    display: block;
                    border-radius: 10px;
                }
            }
            .Togo_list_head{
                float: left;
                font-size: 16px;
                margin-left: 10px;
                padding:25px 0 15px 0;
                width: 85%;
                font-weight: bold;
            }
            .Togo_list_intro{
                font-size: 14px;
                color: black;
                opacity: .8;
                float: left;
                margin-left: 10px;
                letter-spacing: 2px;
            }
            &:hover{
                //border:1px solid;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: 0 30px 28px -20px rgba(0, 0, 0, 0.26);
                transform: translate(0, -4px);
                .Togo_list_head{
                    letter-spacing: 2px;
                }
            }
            .Togo_TimeBox{
                height: 21px;
                //width: 200px;
                float: right;
                .Togo_Time_icon{
                    height: 18px;
                    width: 18px;
                    background: #dfdfdf;
                    border-radius: 5px;
                    float: left;
                    background: url("../images/time.png") no-repeat;
                    background-size: 18px;
                    opacity: 0.7;
                }
                .Togo_Time_tx{
                    float: left;
                    padding-left: 10px;
                    color: black;
                    opacity: 0.7;
                    font-size: 12px;
                    line-height: 21px;
                    text-align: center;
                }
            }
        }
    }
}
